<%- include("../includes/head") %>

<h1 class="title home">Change New Password</h1>
<div>
  <a href="/">
    <h4 class="btn btn-home">Go Back Home</h4>
  </a>
</div>
<form action="/change-new-password" method="post">
  <input hidden name="_csrf" value="<%= csrfToken %>" />
  <input hidden name="resetToken" value="<%= resetToken %>" />
  <input hidden name="user_id" value="<%= user_id %>" />
  <div class="form-box">
    <ul>
      <% if(errorMsg){%>
      <li>
        <p class="errMsg"><%=errorMsg%></p>
      </li>
      <%}%>
      <li>
        <label for="password">Enter New Password</label>
      </li>
      <li>
        <input type="password" id="password" name="password" value="<%= oldFormData.password%>"/>
      </li>
      <li>
        <label for="confirm_password">Confirm New Password</label>
      </li>
      <li>
        <input type="password" id="confirm_password" name="confirm_password" value="<%= oldFormData.confirm_password%>"/>
      </li>
      <div class="buttons">
        <button type="submit" class="btn">Change Password</button>
      </div>
    </ul>
  </div>
</form>

<%- include("../includes/foot") %>
