<%- include("../includes/head") %>

<h1 class="title home">Register a new Account Here!</h1>
<div>
  <a href="/">
    <h4 class="btn btn-home">Go Back Home</h4>
  </a>
</div>
<form action="/register" method="post">
  <input hidden name="_csrf" value="<%= csrfToken %>" />
  <div class="form-box">
    <ul>
      <% if(errorMsg){%>
      <li>
        <p class="errMsg warn"><%=errorMsg%></p>
      </li>
      <%}%>
      <li>
        <label for="username">Enter Username</label>
      </li>
      <li>
        <input type="text" id="name" name="username" value="<%= oldFormData.username%>"/>
      </li>
      <li>
        <label for="email">Enter a New Email</label>
      </li>
      <li>
        <input type="email" id="email" name="email" value="<%= oldFormData.email%>"/>
      </li>
      <li>
        <label for="password">Enter a New Password</label>
      </li>
      <li>
        <input type="password" id="password" name="password" value="<%= oldFormData.password%>"/>
      </li>
      <li>
        <a href="#">
          <button type="submit" class="btn btn-add">Create an Account</button>
        </a>
      </li>
    </ul>
  </div>
</form>

<%- include("../includes/foot") %>
