<%- include("./includes/head") %>

<div>
  <a href="/">
    <h4 class="btn btn-home">
      <i class="fa-solid fa-arrow-left icon"></i>Go Back Home
    </h4>
  </a>
</div>

<form action="/admin" method="post" enctype="multipart/form-data">
  <input hidden name="_csrf" value="<%= csrfToken %>" />

  <div class="form-box">
    <ul>
      <li>
        <h1 class="title home">Add a new Post Here!</h1>
      </li>
      <% if(errorMsg){%>
      <li>
        <p class="errMsg"><%=errorMsg%></p>
      </li>
      <%}%>
      <li>
        <label for="title">Enter Title</label>
      </li>
      <li>
        <input
          type="text"
          id="title"
          name="title"
          required
          value="<%= oldFormData.title%>"
        />
      </li>
      <li>
        <label for="photo">Select Photo</label>
      </li>
      <li>
        <input type="file" id="photo" name="photo" required />
      </li>
      <li>
        <label for="description">Enter Description</label>
      </li>
      <li>
        <textarea name="description" id="description" cols="30" rows="10">
<%=oldFormData.description%></textarea
        >
      </li>
      <li>
        <button type="submit" class="btn btn-add">
          <i class="fa-solid fa-plus icon"></i>Add Post
        </button>
      </li>
    </ul>
  </div>
</form>

<%- include("./includes/foot") %>
