<%- include("./includes/head.ejs") %>

<section class="details">
  <div class="r-btn">
    <a href="/">
      <p class="btn"><i class="fa-solid fa-arrow-left icon"></i>Go Back Home</p>
    </a>
  </div>

  <h1 class="title"><%= post.title %></h1>
  <div class="buttons">
    <div>
      <p>
        <i class="fa-solid fa-feather icon"></i>
        Posted by <%= post.userId.email%>
      </p>
    </div>
    <%if(date){%>
    <p>
      <i class="fa-regular fa-calendar-days icon"></i>Uploaded at <%= date%>
    </p>
    <%}%>
  </div>

  <div class="buttons">
    <%if(currentLoginUserStatus){%>
    <a href="/save/<%= post._id%>">
      <button class="btn">
        <i class="fa-solid fa-file-arrow-down icon"></i>
        Save to Device
      </button>
    </a>
    <%}%> <% if(post.userId._id.toString() === currentLoginUserId.toString())
    {%>
    <div>
      <a href="/admin/edit/<%= post._id %>" class="post-title">
        <button class="btn">
          <i class="fa-solid fa-pen-to-square fa-rotate-180 icon"></i>Edit
        </button>
      </a>

      <div class="post-title">
        <form action="/admin/delete/<%= post._id %>" method="post">
          <input hidden name="_csrf" value="<%= csrfToken %>" />
          <button type="submit" class="btn">
            <i class="fa-solid fa-trash-can icon"></i>Delete
          </button>
        </form>
      </div>
    </div>

    <%}%>
  </div>

  <p class="des"><%= post.description%></p>
  <hr />
  <img src="<%= '/'+ post.imgUrl %>" alt="<%= post.title %>" />

  <hr />
</section>

<%- include("./includes/foot.ejs")%>
