<%- include("./includes/head.ejs") %>

<section class="details">
  <a href="/">
    <p class="btn"><i class="fa-solid fa-arrow-left icon"></i>Go Back Home</p>
  </a>

  <h1 class="title"><%= post.title %></h1>
  <div class="buttons">
    <div>
      <p>
        <i class="fa-solid fa-feather icon"></i>
        Posted by <%= post.userId.email%>
      </p>
    </div>
    <%if(date){%>
    <p>
      <i class="fa-regular fa-calendar-days icon"></i>Uploaded at <%= date%>
    </p>
    <%}%>
  </div>

   <% if(post.userId._id.toString() === currentLoginUserId.toString()) {%>
  <div class="buttons">
    <a href="/admin/edit/<%= post._id %>">
      <h4 class="btn">
        <i class="fa-solid fa-pen-to-square fa-rotate-180 icon"></i>Edit
      </h4>
    </a>
   
    <form action="/admin/delete/<%= post._id %>" method="post">
      <input hidden name="_csrf" value="<%= csrfToken %>" />
      <button type="submit" class="btn">
        <i class="fa-solid fa-trash-can icon"></i>Delete
      </button>
    </form>
  </div>
  <%}%>
  <p class="des"><%= post.description%></p>
  <img src="<%= '/'+ post.imgUrl %>" alt="<%= post.title %>" />

  <% if(post.userId._id.toString() === currentLoginUserId.toString()) {%>
  <div class="buttons">   
    <a href="/save/<%= post._id%>" class="btn"><i class="fa-solid fa-file-arrow-down icon"></i>Save to Device</a>   
  </div>
  <%}%>
  <hr />
</section>

<%- include("./includes/foot.ejs")%>
