<%- include("./includes/head.ejs") %>

<section class="details">
  <a href="/">
    <h4 class="btn">Go Back Home</h4>
  </a>
  <h1 class="post-title"><%= post.title %></h1>
  <p class="des"><%= post.description%></p>
  <img src="<%= post.imgUrl %>" alt="<%= post.title %>" />
  <hr />
  <form action="/admin/post/<%= post.id%>" method="post">
    <button type="submit" class="btn delete">Delete</button>
  </form>
  <a href="/admin/post-edit/<%= post.id%>">
    <button class="btn-edit">Edit</button>
  </a>
</section>

<%- include("./includes/foot.ejs")%>
