<%- include("./includes/head.ejs") %>

<section class="details">
  <a href="/">
    <h4 class="btn">Go Back Home</h4>
  </a>

  <h1 class="title"><%= post.title %></h1>
  <p class="des"><%= post.description%></p>
  <img src="<%= post.imgUrl %>" alt="<%= post.title %>" />

  <% if(post.userId.toString() === currentLoginUserId.toString()) {%>
  <div class="buttons">
    <a href="/admin/edit/<%= post._id %>">
      <h4 class="btn">Edit</h4>
    </a>
    <form action="/admin/delete/<%= post._id %>" method="post">
      <input hidden name="_csrf" value="<%= csrfToken %>" />
      <button type="submit" class="btn">Delete</button>
    </form>
  </div>
  <%}%>
  <hr />
</section>

<%- include("./includes/foot.ejs")%>
