<%- include("./includes/head.ejs") %>

<h1 class="title home">Home Page</h1>
<h3 class="description">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium tenetur
  neque debitis, sed ea eaque dicta id, illo accusantium voluptate obcaecati,
  laboriosam deserunt. Tenetur eos exercitationem explicabo laboriosam fugit
  praesentium!
</h3>

<% if(isLogin){ %>
<div class="buttons">
  <div>
    <a href="./admin/create-post">
      <button class="btn btn-postlink">Add a new post</button>
    </a>
  </div>
  <div>
    <form action="/logout" method="post">
      <input hidden value="<%= csrfToken %>" name="_csrf" />
      <button class="btn" type="submit">Log Out</button>
    </form>
  </div>
</div>
<%} else {%>
<div class="buttons">
  <a href="/register">
    <button class="btn btn-postlink">Create a new Account</button>
  </a>
  <a href="/login">
    <button class="btn btn-postlink">Login to existing Account</button>
  </a>
</div>
<%}%>
<hr />
<h1 class="title">Posts</h1>

<% if(postsArray.length===0) { %>
<div>
  <h3 class="title">There is Nothing to see HERE!</h3>
  <a href="/admin/create-post">
    <button class="btn">Create a new post now</button></a
  >
</div>
<% } %> <% for(let post of postsArray) { %>

<div class="post-box">
  <div>
    <h3 class="post-title"><%= post.title %></h3>
    <h3 class="post-title">Posted by => <%= post.userId.email %></h3>
  </div>
  <a class="btn" href="./post/<%= post._id %>">See More ...</a>
</div>

<% } %> <%- include("./includes/foot.ejs") %>
