<%- include("./includes/head.ejs") %> <%if(postsArray.length > 0){%>
<div>
  <h1 class="title">Posts</h1>
  <% if(isLogin){ %>
  <div class="buttons">
    <a href="/admin/create-post">
      <button class="btn">
        <i class="fa-solid fa-plus icon"></i> Add a new post as <%=
        currentUserEmail ? currentUserEmail : "" %>
      </button>
    </a>
  </div>
  <hr />
  <%}%> <% if(postsArray.length===0 && isLogin) { %>
  <div>
    <h3 class="title">
      Nothing to see HERE!
      <i class="fa-regular fa-face-frown-open icon err"> </i>
    </h3>
    <div class="r-btn">
      <a href="/admin/create-post">
        <button class="btn">
          <i class="fa-solid fa-plus icon"></i>Create a new post
        </button>
      </a>
    </div>
  </div>
  <% } %>

  <div class="post-container">
    <% for(let post of postsArray) { %>
    <div class="post-box">
      <div class="post-img">
        <img src="<%= '/' + post.imgUrl %>" alt="<%= post.title %>" />
      </div>
      <div class="buttons">
        <h3 class="post-title"><%= post.title.substr(0,15) %>...</h3>
        <a class="btn" href="/post/<%= post._id %>">Read More</a>
      </div>
      <div class="des des-text">
        <p><%= post.description.substr(0,200) %>...</p>
      </div>

      <hr />

      <div class="credit">
        <div class="user-animate">
          <% if(post.userId._id.toString() === currentUserID.toString()){%>

          <a href="/admin/profile">
            <%if(post.userId.profile_imgUrl && post.userId.isPremium){%>

            <img
              src="<%= '/'+ post.userId.profile_imgUrl %>"
              alt="<%= post.userId.username %>"
              class="profile-img home-img"
            />

            <%}else{%>
            <i
              class="medal fa-solid fa-circle-user fa-beat animate__animated animate__slower 3s"
            ></i>
            <%}%>
          </a>

          <%}else{%>

          <a href="/profile/<%= post.userId._id %>">
            <%if(post.userId.profile_imgUrl && post.userId.isPremium){%>

            <img
              src="<%= '/'+ post.userId.profile_imgUrl %>"
              alt="<%= post.userId.username %>"
              class="profile-img home-img"
            />

            <%}else{%>
            <i
              class="medal fa-solid fa-circle-user fa-beat animate__animated animate__slower 3s"
            ></i>
            <%}%>
          </a>

          <%}%>
        </div>

        <div class="">
          <h3 class="credit"><%= post.userId.email %></h3>
          <% if(post.userId.isPremium){%>
          <h3 class="credit">
            <%= post.userId.username%>
            <i
              class="fa-regular fa-star animate__animated animate__jello animate__infinite infinite"
            ></i>
          </h3>
          <%}else{%>
          <h3 class="credit"><%= post.userId.username %></h3>
          <%}%>
        </div>
      </div>
    </div>
    <% } %>
  </div>
  <hr />

  <%if(!hasNextPage && currentPage ==1){%>
  <div class="right">
    <a href="/?page=2">Next Page </a>
  </div>
  <%}%> <%if(hasPreviousPage){%>
  <a href="/?page=<%= previousPage%>" class="btn left"
    >Previous Page <%= previousPage%>
  </a>
  <%}%> <%if(hasNextPage){%>
  <a href="/?page=<%= nextPage%>" class="btn right">Next Page <%= nextPage%></a>
  <%}%>
</div>
<%}else{%>
<section>
  <div>
    <h3 class="title">
      No Post Yet in Home Page!
      <i class="fa-regular fa-face-frown-open icon err"> </i>
    </h3>
    <a href="/admin/create-post">
      <button class="btn">
        <i class="fa-solid fa-plus icon"></i>Create a New Post Now
      </button></a
    >
  </div>
  <hr />
</section>
<%}%> <%- include("./includes/foot.ejs") %>
