<%- include("./includes/head.ejs") %>

<div class="body">
  <h1 class="title">Posts</h1>
  <% if(isLogin){ %>
  <div class="buttons">
    <a href="/admin/create-post">
      <button class="btn">
        <i class="fa-solid fa-plus icon"></i> Add a new post as <%=
        currentUserEmail ? currentUserEmail : "" %>
      </button>
    </a>
  </div>
  <hr />
  <%}%> <% if(postsArray.length===0 && isLogin) { %>
  <div>
    <h3 class="title">
      Nothing to see HERE!
      <i class="fa-regular fa-face-frown-open icon err"> </i>
    </h3>
    <a href="/admin/create-post">
      <button class="btn">
        <i class="fa-solid fa-plus icon"></i>Create a new post now
      </button></a
    >
  </div>
  <% } %>

  <div class="post-container">
    <% for(let post of postsArray) { %>
    <div class="post-box">
      <div class="post-img">
        <img src="<%= '/' + post.imgUrl %>" alt="<%= post.title %>" />
      </div>
      <div class="buttons">
        <h3 class="post-title"><%= post.title.substr(0,15) %>...</h3>
        <a class="btn" href="/post/<%= post._id %>">Read More</a>
      </div>
      <div class="des des-text">
        <p><%= post.description.substr(0,200) %>...</p>
      </div>
      <hr />

      <% if(post.userId._id.toString() === currentUserID.toString()){%>
      <h3 class="credit">
        Posted by
        <a href="/admin/profile"><%= post.userId.email %></a>
      </h3>
      <%}else{%>
      <h3 class="credit">
        Posted by
        <a href="/profile/<%= post.userId._id %>"><%= post.userId.email %> </a>
      </h3>
      <%}%>
    </div>
    <% } %>
  </div>
  <hr />
  <div class="buttons">
    <%if(!hasNextPage && currentPage ==1){%>
    <a href="/?page=2" class="btn">Next Page</a>
    <%}%> <%if(hasNextPage){%>
    <a href="/?page=<%= nextPage%>" class="btn">Next Page <%= nextPage%></a>
    <%}%> <%if(hasPreviousPage){%>
    <a href="/?page=<%= previousPage%>" class="btn"
      >Previous Page <%= previousPage%></a
    >
    <%}%>
  </div>
</div>

<%- include("./includes/foot.ejs") %>
