<%- include("../includes/head.ejs")%> <%if(postsArray.length > 0){%>
<section>
  <div>
    <div class="buttons">
      <div>
        <a href="/admin/create-post" class="badge">
          <button class="btn">
            <i class="fa-solid fa-plus icon"></i>Create a new post now
          </button></a
        >
      </div>
      <div>
        <div class="badge">
          <%if(postsArray[0].userId.profile_imgUrl &&
          postsArray[0].userId.isPremium){%>
          <div>
            <img
              src="<%= '/'+ postsArray[0].userId.profile_imgUrl %>"
              alt="<%= postsArray[0].userId.username %>"
              class="profile-img"
            />
          </div>
          <%}else{%>
          <i
            class="user fa-solid fa-circle-user fa-beat animate__animated animate__slower 3s"
          ></i>
          <%}%>
        </div>
        <div class="badge"><%= currentUserEmail %></div>
        <div class="badge">
          <%if(postsArray[0].userId.username){%>
          <p>
            <%= postsArray[0].userId.username %> <%
            if(postsArray[0].userId.isPremium){ %>
            <i
              class="fa-regular fa-star animate__animated animate__jello animate__infinite infinite"
            ></i>
            <%}%>
          </p>
          <%}else{%>
          <p><%= postsArray[0].userId.username %></p>
          <%}%>
        </div>
      </div>
      <div class="feedback">
        <!-- <div>
          <a href="/admin/profile-image">
            <button class="btn">Upload Profile Image</button></a
          >
        </div> -->
        <div>
          <%if(postsArray[0].userId.isPremium){%>
          <a href="/admin/premium-details">
            <button class="btn">IO Premium Status</button></a
          >
          <a href="/admin/profile-image">
            <button class="btn">Upload Profile Image</button></a
          >
          <%}else{%>
          <a href="/admin/premium">
            <button class="btn">Buy IO Premium</button></a
          >
          <%}%>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="post-container">
    <% for(let post of postsArray) { %>
    <div class="post-box">
      <div class="post-img">
        <img src="<%= '/'+ post.imgUrl %>" alt="<%= post.title %>" />
      </div>
      <div class="buttons">
        <h3 class="post-title"><%= post.title.substr(0,15) %>...</h3>
        <a class="btn" href="/post/<%= post._id %>">Read More</a>
      </div>
      <div class="des des-text">
        <p><%= post.description.substr(0,200) %>...</p>
      </div>
      <hr />
    </div>
    <% } %>
  </div>
  <hr />
  <div class="buttons">
    <%if(hasNextPage){%>
    <a href="/admin/profile/?page=<%= nextPage%>" class="btn">
      Next Page <%= nextPage%>
    </a>
    <%}%> <%if(hasPreviousPage){%>
    <a href="/admin/profile/?page=<%= previousPage%>" class="btn">
      Previous Page <%= previousPage%>
    </a>
    <%}%>
  </div>
</section>
<%}else{%>
<section>
  <div>
    <h3 class="title">
      No Post Yet in Your Profile!
      <i class="fa-regular fa-face-frown-open icon err"> </i>
    </h3>
    <a href="/admin/create-post">
      <button class="btn">
        <i class="fa-solid fa-plus icon"></i>Create a New Post Now
      </button></a
    >
  </div>
  <hr />
</section>
<%}%> <%- include("../includes/foot.ejs")%>
