<%- include("../includes/head.ejs")%>
<section>
  <div>
    <div class="buttons">
      <div>
        <a href="/admin/create-post" class="badge">
          <button class="btn">
            <i class="fa-solid fa-plus icon"></i>Create a new post now
          </button></a
        >
      </div>
      <div>
        <div class="badge">
          <i
            class="user fa-solid fa-circle-user fa-beat animate__animated animate__slower 3s"
          ></i>
        </div>
        <div class="badge"><%= currentUserEmail %></div>
        <div class="badge">
          <%if(postsArray[0].userId.username){%>
          <p>
            <%= postsArray[0].userId.username %> <%
            if(postsArray[0].userId.isPremium){ %>
            <i
              class="fa-regular fa-star animate__animated animate__jello animate__infinite infinite"
            ></i>
            <%}%>
          </p>
          <%}else{%>
          <p><%= postsArray[0].userId.username %></p>
          <%}%>
        </div>
      </div>
      <div>
        <%if(postsArray[0].userId.isPremium){%>
        <a href="/admin/premium-details" class="badge"
          ><button class="btn">IO Premium Status</button></a
        >
        <%}else{%>
        <a href="/admin/premium" class="badge"
          ><button class="btn">Buy IO Premium</button></a
        >
        <%}%>
      </div>
    </div>
  </div>
  <hr />
  <div class="post-container">
    <% for(let post of postsArray) { %>
    <div class="post-box">
      <div class="post-img">
        <img src="<%= '/'+ post.imgUrl %>" alt="<%= post.title %>" />
      </div>
      <div class="buttons">
        <h3 class="post-title"><%= post.title.substr(0,15) %>...</h3>
        <a class="btn" href="/post/<%= post._id %>">Read More</a>
      </div>
      <div class="des des-text">
        <p><%= post.description.substr(0,200) %>...</p>
      </div>
      <hr />
    </div>
    <% } %>
  </div>
  <hr />
  <div class="buttons">
    <%if(hasNextPage){%>
    <a href="/admin/profile/?page=<%= nextPage%>" class="btn">
      Next Page <%= nextPage%>
    </a>
    <%}%> <%if(hasPreviousPage){%>
    <a href="/admin/profile/?page=<%= previousPage%>" class="btn">
      Previous Page <%= previousPage%>
    </a>
    <%}%>
  </div>
</section>
<%- include("../includes/foot.ejs")%>
